.recruit-container {
  padding: 20px;
}

.recruit-column {
  background: #f5f5f5;
  padding: 7px;
  border-radius: 5px;
}

.card-header {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 2px;
}
.row-id-btn {
  margin-bottom: 10px;
}
.id {
  color: #858687;
  font-size: 15px;
  font-weight: 600;
}

.btn {
background: #ddeafe;
border: 1px solid #c9dfff;
color: #5a97f0;
font-size: 13px;
border-radius: 4px;
font-weight: 600;
padding: 5px 10px;
margin-left: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  align-items: center;
}

.header-text {
  margin: 0px 5px 0px 0px !important;
}

.page-count {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.search {
  margin-right: 5px;
}

.rounds-card {
  background: #ffffff;
  padding: 14px 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.eligable {
  border-left: 5px solid #afdc82;
}

.not-eligable {
  border-left: 5px solid red;
}

.name {
  color: #4f4f51;
  font-weight: bold;
  font-size: 20px;
  font-size: 14px;
}

.detail {
  color: #9f9c9c;
  font-size: 14px;
}

.valid {
  color: #4f4f51;
  font-size: 14px;
  font-weight: 900;
}

.droppable-container {
  display: flex;
}
.draggable-column {
  background: #f5f5f5;
  padding: 10px 7px;
  border-radius: 5px;
  width: 25%;
  margin-right: 10px;
} 
.draggable-column:last-child {
  margin-right: 0px;
}

.indicator {
background-color: rgb(230 234 236); 
color: rgb(66 94 123); 
font-weight: normal;
}

.true {
  background-color: #01b875 !important;
  color: white !important;
}